body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #363636;
    color: #ffffff;
}

.task-name {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
    color: #e6d7d7;
}

.countdown-box {
    border: 2px solid #4d4d4d;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 48px;
    background-color: rgb(153, 149, 149);
}

.countdown-text {
    font-size: 48px;
    color: #c2c2c2;
}

.actions {
    margin-top: 20px;
    text-align: center;
}

.actions button {
    margin: 5px;
    font-size: 16px;
    background-color: #4d4d4d;
    color: #c2c2c2;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    cursor: pointer;
}

.actions button:hover {
    background-color: #5d5d5d;
}

.completed {
    text-decoration: line-through;
    color: #999; /* Adjust color for crossed-out text */
}

.url a {
    text-align: center;
    margin-bottom: 20px;
    color: #5d5d5d;
}

